---
layout: index
title: Eye of Atan Campaign setting
indexed: false
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-primary">D&D Campaign Setting: Eye of Atan</h1>
      {% include intro.html %} 
    </div>
  </div>
  <br />


  <div class="row">
	{% for cat in site.data.categoryList %}
	<div class="col-md-4">
  
		<h2>{{ cat.key }}</h2>

		<ul>
			{% for page in site.pages %}
				{% if page.indexed %}
					{% for pc in page.categories %}
						{% if pc == cat.key %}
						<li><a href="{{ page.url }}">{{ page.title }}</a> {%if page.fifth-equiv %}<span class="smallest">({{ page.fifth-equiv }})</span> {%endif %}</li>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		</ul>
	  </div>
	{% endfor %}
  </div>
</div>
