<div class="row">
    <div class="col-6">
        <img src="../{{ include.name | downcase | replace: " ", "_" }}.png" alt="{{ name }}" title="{{ name }}" class="img-fluid"/>
    </div>
    <div class="col-6">
        <img src="/pantheons/holy-symbols/{{ include.name | downcase | replace : " ", "_" }}.png" alt="Holy symbol of {{ name }}" title="Holy symbol of {{ include.name }}" class="img-fluid" />
    </div>
</div>
{% if include.domains or include.symbolText or include.typicalWorshippers or include.pantheon %}
<div class="row">
    <div class="col-12">
       <table class="table w-100">
           <thead>
                <tr>
                    {% if include.pantheon %}
                    <th>Pantheon</th>
                    {% endif %}
                    {% if include.domains %}
                    <th>Domains</th>
                    {% endif %}
                    {% if include.typicalWorshippers %}
                    <th>Typical worshippers</th>
                    {% endif %}
                    {% if include.symbolText %}
                    <th>Holy Symbol</th>
                    {% endif %}
                </tr>
           </thead>
           <tbody>
            <tr>
                {% if include.pantheon %}
                {% assign lowerPantheon = include.pantheon | downcase %}
                {% case lowerPantheon %}
                {% when 'unscathed' %}
                {% assign resolvedPantheon = 'The Unscathed' %}
                {% when 'fian chai' %}
                {% assign resolvedPantheon = 'Fian Chai' %}
                {% else %}
                {% assign resolvedPantheon = 'The Watchers' %}
                {% endcase %}
                <td>{{ resolvedPantheon }}</td>
                {% endif %}
                {% if include.domains %}
                <td>{{ include.domains }}</td>
                {% endif %}
                {% if include.typicalWorshippers %}
                <td>{{ include.typicalWorshippers }}</td>
                {% endif %}
                {% if include.symbolText %}
                <td>{{ include.symbolText }}</td>
                {% endif %}
            </tr>
           </tbody>
       </table>
    </div>
</div>
{% endif %}