<table class="table">
	<thead>
		<tr>
			<th colspan="2">{{ include.name }}</th>
		</tr>
	</thead>
	<tbody>
		{% if include.origin %}
		<tr>
			<th scope="row">World of origin</th>
			<td>{{ include.origin }}</td>
		</tr>
		{% endif %}
		{% if include.home %}
		<tr>
			<th scope="row">Home island</th>
			<td>{{ include.home }}</td>
		</tr>
		{% endif %}
		{% if include.nation %}
		<tr>
			<th scope="row">Part of nation</th>
			{% if include.nationlink %}
				<td><a href="{{ include.nationlink }}">{{ include.nation }}</a></td>
			[% else %}
				<td>{{ include.nation }}</td>
			{% endif %}
		</tr>
		{% endif %}
	</tbody>
</table>
